.publish {
  width: 100%;
  // height: calc(100vh - 45px);
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ffffff;
  textarea {
    box-sizing: border-box;
    border: none;
    height: 6.5em;
    width: 100%;
    background: #ffffff;
    color: #333333;
    font-size: 16px;
    line-height: 1.625em;
    padding: 0.625em;
    line-height: 1.5;
    outline: none;
  }
  .publish-submit {
    max-width: 414px;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 50%;
    bottom: 0;
    color: #ffffff;
    background-color: #0D213F;
    font-size: 18px;
    transform: translateX(-50%);
  }
  .pics-box {
    margin-bottom: 45px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input[type='file'] {
      opacity: 0;
    }
    & > div {
      &:nth-child(2) {
        margin: 3px 2%;
      }
      &:nth-child(5) {
        margin: 3px 2%;
      }
      &:nth-child(8) {
        margin: 3px 2%;
      }
    }
    .pic {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .pic {
      background-color: #56d432;
    }
    .file, .pic {
      margin-top: 3px;
      margin-bottom: 3px;
      width: 32%;
      height: 113px;
      display: inline-block;
      box-sizing: border-box;
    }
    .file {
      position: relative;
      border: 1px dashed #CCCCCC;
      cursor: pointer;
      &:before, &:after {
        content: " ";
        width: 50%;
        height: 3px;
        background-color: #CCCCCC;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
      }
      &:after {
        left: 25%;
        transform: rotate(-90deg);
      }
      input[type='file'] {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 3;

      }
    }
  }
  .select {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E1;
    ._cell {
      margin-bottom: 15px;
      line-height: 1.2em;
      font-size: 14px;
      color: #333333;
      a {
        justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: inherit;
      }
      span {
        width: 90%;
        display: block;
      }
    }
  }
  .publish-form {
    margin-bottom: 80px;
  }
  .venues-box {
    overflow: hidden;
  }
  .venues-holder {
    position: relative;
    transition: all 0.2s cubic-bezier(1, 0.3, 1, 1);
    .remove {
      width: 70px;
      height: 100%;
      background-color: #B33DE5;
      position: absolute;
      top: 0;
      right: -70px;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
      line-height: 62px;
    }
    &.show-remove {
      transform: translateX(-70px);

    }
  }
}