.card-message-top {
  height: 42px;
  margin-bottom: 12px;
  position: relative;
}

.card-message-content {
  display: block;
  h4 {
    line-height: 1.5em;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .img-single {
    img {
      width: 100%;
    }
  }
  .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .img-single {
      box-sizing: border-box;
      margin: 3px 0;
      width: 32%;
      height: 113px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      &:nth-child(2) {
        margin: 3px 2%;
      }
      &:nth-child(5) {
        margin: 3px 2%;
      }
      &:nth-child(8) {
        margin: 3px 2%;
      }
    }
  }
}
.card-message-bottom {
  margin-top: 12px;
}