.card-message-top {
  height: 42px;
  margin-bottom: 12px;
  position: relative;
}

.card-message-content {
  display: block;
  h4 {
    line-height: 1.5em;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333333;
  }
  .img-single {
    img {
      width: 100%;
    }
  }
  .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .img-single {
      box-sizing: border-box;
      margin: 3px 0;
      width: 32%;
      height: 113px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      &:nth-child(2) {
        margin: 3px 2%;
      }
      &:nth-child(5) {
        margin: 3px 2%;
      }
      &:nth-child(8) {
        margin: 3px 2%;
      }
    }
  }
  .topics {
    margin: 8px 0;
    * {
      display: inline-block;
      line-height: 18px;
      margin-right: 10px;
    }
    .city {
      padding: 0 5px;
      background-color: #CCCCCC;
      color: #ffffff;
      border-radius: 2px;
    }
  }
}
.card-message-bottom {
  margin-top: 12px;
  &.fix {
    max-width: 414px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 50px;
    z-index: 9;
    background: #14171b;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, .2);
  }
}