.action-bar {
  position: fixed;
  left: 50%;
  bottom: calc(2% + 50px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 6px 14px 0 rgba(115, 68, 192, .73);
  background:-moz-linear-gradient(left top,#B33DE5,#3023AE);/*Mozilla*/
  background:-webkit-linear-gradient(left top,#B33DE5,#3023AE);/*new gradient for Webkit*/
  background:-o-linear-gradient(left top,#B33DE5,#3023AE); /*Opera11*/
  font-size: 14px;
  &.bottom {
    bottom: 3%;
  }
  .icon {
    font-size: 1.65em;
    color: #ffffff;
  }
}