.search-page {
    padding: 18px 10px 24px 10px;
    background-color: #ffffff;
    .input-box {
        line-height: 36px;
        box-sizing: border-box;
        padding-left: 30%;
        border: 1px solid #CCCCCC;
        border-radius: 18px;
        .icon {
            color: #CCCCCC;
            margin-right: 8px; 
        }
        input {
            outline: none;
        }
        &.focus {
            padding-left: 12px;
        }
    }
}