// :global(.transitionWrapper-enter) {
//     opacity: 0.01;
//     transition: opacity 30000ms ease-in;
// }
 
// :global(.transitionWrapper-enter.transitionWrapper-enter-active) {
//     opacity: 1;
// }
 
// :global(.transition-leave) {
//     opacity: 1;
//     transition: opacity 30000ms ease-in;
// }
 
// :global(.transition-leave.transition-leave-active) {
//     opacity: 0;
// }
 .app {
     padding-bottom: 54px;
 }
.app-enter {
    position: absolute;
    opacity: 0.01;
    transition: .3s opacity ease-in-out;
}

.app-enter.app-enter-active {
    opacity: 1;
}

.app-leave {
    position: absolute;
    opacity: 1;
    transition: .3s opacity ease-in-out;
}

.app-leave.app-leave-active {
    opacity: 0.01;
}

.app-search-enter {
    position: absolute;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s;
    z-index: 1;
}

.app-search-enter.app-search-enter-active {
    transform: translate3d(0, 0, 0);
}

.app-search-leave {
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.app-search-leave.app-search-leave-active {
    transform: translate3d(-100%, 0, 0);
}