 .app {
     padding-bottom: 54px;
     &.no-tab-bar {
         padding-bottom: 0;
     }
 }
.app-enter {
    width: 100%;
    position: absolute;
    opacity: 0.01;
    transition: .3s opacity ease-in-out;
}

.app-enter.app-enter-active {
    opacity: 1;
}

.app-leave {
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: .3s opacity ease-in-out;
}

.app-leave.app-leave-active {
    opacity: 0.01;
}

.app-search-enter {
    position: absolute;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s;
    z-index: 1;
}

.app-search-enter.app-search-enter-active {
    transform: translate3d(0, 0, 0);
}

.app-search-leave {
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

.app-search-leave.app-search-leave-active {
    transform: translate3d(-100%, 0, 0);
}