$primary: #D42C3A;
$primaryDark: #D42C3A;

$bg: #181D22;
$bgLight: #1C2228;
$bgDark: darken($bg, 5%);
$grayBg: #464646;

$text: #FFF;
$textLight: #7A899E;
$textGray: #666666;

$border: rgba(#FFF, 0.4);
$borderRed: #C22F36;

$gap: 18px;
$tabBarHeight: 54px;

$normal: 300;
$bold: 400;

$fzTiny: 11px;
$fzSmall: 14px;
$fzNormal: 17px;
$fzLarge: 19px;